.body{
    min-width: 560px;
}
.contenedorImgNosotros{
    max-width: 400px;
    max-height: 400px;
}
.contenidoPrincipal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.descripcion {
    font-family: 'Work sans', sans-serif;
    font-size: 1rem;
}
@media (max-width: 768px){

    .contenidoPrincipal{
        margin-top: 50px;
        grid-template-columns: 1fr;
    }
}